/*

    CSS Avanzado (Curso VideotuBrain) - Carpeta nº3: 3. Selectores y pseudo selectores dentro de CSS avanzado
    
    -Video 04. Agregar estilos basados en atributos de HTML con CSS

*/
/*
    -

    ACLARACIONES:


*/

@font-face{
    font-family:"Raleway";
    src: url("Raleway-SemiBold.ttf");
    font-weight: 400;
    font-style:normal;
}

*
{
    font-family: Raleway;
}

.container
{   
    border:1px solid #219652;
    margin: 10px auto;
    width: 300px;
    height: 670px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

/* Deteccion para aplicar estilo basado en el atributo: Abreviacion que tenga el elemento "title". */
abbr[title]
{
    border-bottom: 1px dotted #ccc;
    color: red;
    cursor: help;
}

/* Deteccion para aplicar estilo basado en el atributo: Span que tenga el elemento "data.twitter". */
span[data-twitter]
{
    color: blue;
}

/* Deteccion para aplicar estilo basado en el atributo: Input que tenga el elemento de tipo "text". Como vemos lo aplicara a los 2 inputs pero NO al de tipo "boton". Por eso debajo podemos aplicar otra propiedad solo al boton */

input[type="text"]
{
    width: 200px;
    height: 5px 0;;
}

/* Deteccion para aplicar estilo basado en el atributo: Input que tenga el elemento de tipo "button". */
input[type="button"]
{
    margin: 10px 0;
}

/* Deteccion para aplicar estilo basado en el atributo: Input que tenga el elemento de tipo "text" pero tambien el atributo "disabled". De esta manera podemos pasar 2 o mas elementos para realizar la deteccion. */

input[type="text"][disabled]
{
    border: 5px dotted lightgreen;
    background-color: #ccc;
}

/* Deteccion para aplicar estilo basado en el atributo: A del tipo Href y que contenga AL COMIENZO (^); se indica con ese simbolo de arco circunflejo, seguido del = y la sentencia en la que comienza. */

a[href^=http]
{
    padding-left: 32px;
    background: url(link.png) left no-repeat;
}

/*Podemos aplicar esta propiedad de deteccion tambien para elementos que esten en otras posiciones, Ej:

a[href*=http] Que contenga en algun lugar de la sentencia.
a[href$='.com'] Que contenga al final de la sentencia.

*/